.rgba-primary-0 { color: rgba(83,177,255,1) }  /* Main Primary color */
.rgba-primary-1 { color: rgba(255,255,255,1) }
.rgba-primary-2 { color: rgba(191,226,255,1) }
.rgba-primary-3 { color: rgba(0,116,212,1) }
.rgba-primary-4 { color: rgba(0,83,151,1) }

body { background: #0074D4; color: #BFE2FF; font-family: 'Lato', sans-serif; font-size: 20px; line-height: 1.35em; text-align: center; }

a { color: rgba(83,177,255,1); }
a:hover { color: rgba(83,177,255,.6); }

h1 .site-title { color: #FFF; font-weight: bold; line-height: 1em; text-decoration: none; }

form, footer { width: 100%; max-width: 600px; margin: auto; text-align: left; }

/** The main form and info */
form .description { letter-spacing: 1px; line-height: 1.3em; }
form .input { display: flex; align-items: center; }
form .button { height: 44px; border: none; }
form #email { width: 75%; background: #FDFCFB; font-family: inherit; font-size: .85em; color: #737373; letter-spacing: 1px; text-indent: 5%; border-radius: 5px 0 0 5px; }
form #submit { min-width: 112px; width: 24%; height: 46px; background: rgba(191,226,255,1); color: rgba(0,83,151,1); font-family: inherit; font-size: .85em; font-weight: bold; letter-spacing: 1px; border-radius: 0 5px 5px 0; cursor: pointer; transition: background .3s ease-in-out; }
form #submit:hover { background: rgba(191,226,255,0.5); }
form input:focus { outline: none; outline: 2px solid rgba(0,83,151,0.5); box-shadow: 0 0 2px #E86C8D; }

/** Footer Section */
footer { border-top: 1px solid rgba(0,83,151,0.5); margin: 2em auto; }
footer p { font-size: .9em; line-height: 1.35em; }
footer li { font-size: .85em; }
footer .footer-nav { border-top: 1px solid rgba(0,83,151,0.5); margin-top: 1em; padding: 1em 0; }
footer .footer-nav a { font-size: .7em; }

/* Utility */
.flash-message { -webkit-border-radius: 5px; border-radius: 5px; background-clip: padding-box; /* stops bg color from leaking outside the border: */ background-color: rgb(240,117,48); color: rgb(1,63,130); display: none; margin: 2em 0; padding: 1em; }

/* RESPONSIVE */

@media (max-width: 319px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 320px) {
  body {
    padding: 0 4%;
  }
}

@media (min-width: 700px) {
  h1 .site-title { font-size: 2em }
}


